{% extends 'news/base.html' %}

{% block title %}Sobre a Paróquia - Paróquia São Sebastião{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Sobre a {{ church.name }}</h1>
    
    <div class="card mb-4">
        <div class="card-header card-header-church">
            <h2 class="card-title h4 mb-0">Nossa História</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ church.history }}
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-church">
            <h2 class="card-title h4 mb-0">Padroeiro(a)</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ church.patron }}
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-church">
            <h2 class="card-title h4 mb-0">Horários de Missa</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ church.mass_schedule }}
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-church">
            <h2 class="card-title h4 mb-0">Confissões e Atendimentos</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ church.confessions }}
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header card-header-church">
            <h2 class="card-title h4 mb-0">Localização e Contato</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ church.location_contact }}
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-church">
            <h2 class="card-title h4 mb-0">Pastorais e Movimentos</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <p class="card-text">
                    {{ church.pastorals_movement }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}